mat-drawer-container{
    border: solid black 1px;
    width: auto;
    height: calc(100vh - 100px); //sottrarre altezza di header
    background-color: white;
}

mat-drawer{
    background-color: #bdb7b7;
    color: black;
    border-radius: 0;
    border-right: solid black 2px;
    width: 350px;
}
mat-drawer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}